/* ============= NORMALIZE ============= */
*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6,
*+p {
	margin-top: 0;
}

button {
	background-color: transparent;
	padding: 0;
	border: none;
}

/* ============= FONTS ============= */
@font-face {
	font-family: 'Mulish';
	src: url(/src/assets/fonts/Mulish-VariableFont_wght.ttf) format(truetype);
	font-weight: 300 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish-Italic';
	src: url(/src/assets/fonts/Mulish-Italic-VariableFont_wght.ttf) format(truetype);
	font-weight: 300 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url(/src/assets/fonts/Oswald-VariableFont_wght.ttf) format(truetype);
	font-weight: 200 500;
	font-style: normal;
	font-display: swap;
}

/* ============= VARIABLES ============= */
:root {
	/* color */
	--color-white: #fff;
	--color-dark: #222;
	--color-red: #ff3c3c;
	--color-gray: #989898;

	/* typograhy */
	--font-family-content: 'Mulish', sans-serif;
	--font-family-title: 'Oswald', sans-serif;
}

/* Global-style */
html {
	scroll-behavior: smooth;
}

body {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	margin: 0 auto;
	font-family: var(--font-family-content), 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #222;
	background-color: #fff;
}

.no-scroll {
	overflow: hidden;
}

/* ============= LAYOUT ============= */
.container {
	max-width: 1440px;
	padding: 3.75rem 1.25rem;
	margin: 0 auto;
	display: flex;
	overflow: hidden;

	@media (max-width: 768px) {
		max-width: 768px;
	}

	@media (max-width: 380px) {
		max-width: 380px;
	}
}

/* ============= SECTION ============= */

/* ============= HEADER ============= */
.header {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.header__container {
	max-width: 1440px;
	padding: 1.25rem;
	margin: 0 auto;
}

.header__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {

	font-family: var(--font-family-title);
	font-size: 1rem;
	line-height: 150%;
	font-weight: 400;
	text-transform: uppercase;
}

.menu__btn {
	display: none;
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
	transition: all 0.5s ease-in-out;

	&::after,
	&::before {
		content: '';
		right: 0;
		height: 2px;
		background-color: var(--color-white);
		position: absolute;
		transform-origin: center;
		transition: all 0.2s ease-in-out;
	}

	&::after {
		top: 5px;
		width: 12px;
	}

	&::before {
		bottom: 5px;
		width: 20px;
	}

	&.active {
		&::after {
			top: 50%;
			transform: rotate(45deg) translateY(-50%);
			width: 20px;
		}

		&::before {
			bottom: 50%;
			transform: rotate(-45deg) translateY(50%);
			width: 20px;
		}
	}
}

/* ============= MENU ============= */

.menu__list {
	display: flex;
	justify-content: space-between;
	gap: 2.5rem;

	@media (max-width: 768px) {
		/* the burger menu slides out from the right */
		position: fixed;
		background-color: var(--color-dark);
		top: 60px;
		right: -100%;
		width: 100%;
		height: calc(100vh - 60px);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0;
		padding: 0 20px;
		z-index: 999;
		transition: right 0.5s ease-in-out;

		&.active {
			right: 0;
		}
	}
}

@media (max-width: 768px) {
	.menu__btn {
		display: block;
	}

	.menu__item {
		padding: 18px 0;
	}
}

/* ============= HERO ============= */

.hero {
	background-color: var(--color-dark);
	color: var(--color-white);
	display: flex;
}

.hero__inner {
	display: flex;
	gap: 40px;
}

.achievement-label {
	font-family: var(--font-family-content);
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 742px;
	gap: 0.75rem;

	@media (max-width: 768px) {
		min-height: 450px;
	}

	@media (max-width: 380px) {
		display: none;
	}
}

.achievement-label__year {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.achievement-label__divider {
	width: 1px;
	height: 72%;
	background-color: var(--color-white);

	@media (max-width: 768px) {
		height: 65%;
	}
}

.achievement-label__award {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.hero__content {
	display: flex;
	gap: 2.5rem;

	@media (max-width: 500px) {
		flex-direction: column;
		gap: 20px;
	}
}

.hero__main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10rem;
	padding-top: 100px;

	@media (max-width: 500px) {
		padding-top: 60px;
	}
}

.hero__info {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.hero__stats {
	display: flex;
	gap: 60px;
}

.stats__item {
	display: flex;
	flex-direction: column;
}

.stats__value {
	font-family: var(--font-family-title);
	font-size: 3rem;
	font-weight: 300;
	line-height: 112%;
	text-transform: uppercase;

	&::before {
		content: "+ ";
	}
}

.stats__text {
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
	padding-left: 27px;
}

.hero__title {
	font-family: var(--font-family-title);
	font-weight: 300;
	font-size: 7.25rem;
	line-height: 114%;
	text-transform: uppercase;

	@media (max-width: 1300px) {
		font-size: 68px;
		line-height: 118%;
	}

	@media (max-width: 500px) {
		font-size: 56px;
		line-height: 114%;
	}
}

.hero__motto {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 140%;
	text-transform: uppercase;
}

.scroll-prompt {
	display: flex;
	gap: 8px;
	cursor: pointer;

	@media (max-width: 500px) {
		display: none;
	}
}

.scroll-prompt__text {
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
}

.hero__greeting {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	flex-shrink: 0;

	@media (max-width: 500px) {
		gap: 60px;
	}
}

.hero__media {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 220px;
	flex-shrink: 0;

	@media (max-width: 1300px) {
		display: none;
	}
}

.hero__photo-wrap--centered .hero__photo {
	width: 220px;
	height: 220px;
	object-fit: cover;
}

.hero__photo-wrap--top .hero__photo {
	width: 280px;
	height: 374px;
	object-fit: cover;

	@media (max-width: 768px) {
		width: 220px;
		height: 294px;
	}
}

.hero__greeting-text {
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
	text-align: right;
	width: 220px;
}

/* ============= ABOUT ============= */

.about__columns {
	display: flex;
	gap: 40px;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 40px;
	}
}

.about__column {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 40px;
	max-width: 440px;

	@media (max-width: 768px) {
		max-width: 100%;
	}
}

.about__content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.about__title {
	font-family: var(--font-family-title);
	font-size: 2rem;
	line-height: 125%;
	text-transform: uppercase;
	font-weight: 400;
}

.about__text {
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
}

.about__image {
	width: 100%;
	height: 440px;
	object-fit: cover;

	@media (max-width: 768px) {
		height: 728px;
		align-self: stretch;
		aspect-ratio: 1 / 1;
	}

	@media (max-width: 480px) {
		height: 340px;
	}
}

/* ============= PORTFOLIO ============= */

.portfolio {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.portfolio__inner {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.portfolio__content {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 360px;
}

.portfolio__title {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 2rem;
	line-height: 125%;
	text-transform: uppercase;
}

.portfolio__description {
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
}

/* ============= PRICE ============= */

.price__inner {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.price__header {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.price__title {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 32px;
	line-height: 125%;
	text-transform: uppercase;
}

.price__description {
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
}

.price__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;

	@media (max-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		padding: 0 34px;
	}

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
		padding: 0 10px;
	}
}

.price__card {
	display: flex;
	width: auto;
	min-height: 500px;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid var(--color-dark);
	padding: 24px;
}

.price__card-body {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.price__card-title {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 140%;
	text-transform: uppercase;
}

.price__card-features {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
}

.price__card-feature {
	display: flex;
	gap: 6px;
	align-items: center;

	&::before {
		content: "";
		width: 6px;
		height: 6px;
		background-color: var(--color-dark);
	}
}

.price__card-price {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
	text-transform: uppercase;
}

.price__card-footer {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.price__card-note {
	font-family: var(--font-family-content);
	font-style: italic;
	font-weight: 400;
	font-size: 1rem;
	line-height: 125%;
}

.price__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 18px 20px;
	height: 60px;
	background-color: var(--color-dark);
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-white);
}

/* ============= FAQ ============= */

.faq {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.faq__inner {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	flex: 1;

	@media (max-width: 1000px) {
		flex-direction: column;
	}
}

.faq__header {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 40px;
}

.faq__title {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 32px;
	line-height: 125%;
	text-transform: uppercase;
}

.faq__description {
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

.faq__accordion {
	max-width: 680px;
	display: flex;
	flex-direction: column;
}

.faq__item--active {
	.faq__icon-minus {
		display: block;
	}

	.faq__icon-plus {
		display: none;
	}

	.faq__answer {
		max-height: 500px;
	}
}

.faq__question {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 20px 0;
	cursor: pointer;
}

.faq__question-text {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	text-transform: uppercase;
}

.faq__icon {
	display: flex;
}

.faq__icon-minus {
	display: none;
}

.faq__icon-plus {
	display: block;
}

.faq__answer {
	max-height: 0;
	overflow: hidden;
	/* transition: max-height 0.3s ease-in-out; */
}

.faq__answer-text {
	font-family: var(--font-family-content);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

/* ============= FOOTER ============= */

.footer {
	padding-top: 40px;
}

.footer__bottom {
	background-color: var(--color-dark);
	color: var(--color-white);
	padding: 20px;
}

.footer__top-inner,
.footer__bottom-inner {
	max-width: 1440px;
	padding: 0 1.25rem;
	margin: 0 auto;
}

.footer__title-text {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	text-transform: uppercase;
	text-align: center;
}

.footer__form {
	display: flex;
	gap: 8px;
	justify-content: center;
	padding: 20px 0;

	@media (max-width: 670px) {
		flex-direction: column;
		width: 100%;
	}
}

.footer__field {
	border: 1px solid var(--color-dark);
	padding: 18px 12px;
	max-width: 380px;
	flex: 1 0 0;

	@media (max-width: 670px) {
		max-width: 100%;
	}
}

.footer__btn {
	background-color: var(--color-dark);
	color: var(--color-white);
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	text-align: center;
	min-width: 200px;

	@media (max-width: 670px) {
		padding: 12px 0;
	}
}

.footer__links-list {
	display: flex;
	gap: 40px;
	justify-content: center;
	padding: 18px 0;

	@media (max-width: 670px) {
		flex-direction: column;
		align-items: center;
	}
}

.footer__link {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	text-align: center;
}

/* ============= MODAL ============= */

.modal-window {
	border: none;
	padding: 60px;
	max-width: 500px;
	width: 100%;

	&[open] {
		opacity: 1;
	}

	&::backdrop {
		background-color: rgb(34 34 34 / 0.7);
		opacity: 1;
		transition: opacity 0.3s ease;
	}
}

.modal-window__inner {
	position: relative;
}

.modal-window__content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.modal-window__close {
	position: absolute;
	right: -45px;
	top: -45px;
	border: 0;
	line-height: 1;
	cursor: pointer;
	padding: 6px;
	font-size: 20px;
}

.modal-window__title {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	text-transform: uppercase;
	text-align: center;
}

.modal-window__form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 380px;
	width: 100%;
}

.modal-window__form-field {
	border: 1px solid var(--color-dark);
	padding: 18px 12px;
	max-width: 100%;
	flex: 1 0 0;
}

.modal-window__form-btn {
	background-color: var(--color-dark);
	color: var(--color-white);
	font-family: var(--font-family-title);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	text-align: center;
	min-width: 200px;
	padding: 18px 20px;
	cursor: pointer;
}

/* ============= HOVER & PLACEHOLDERS ============= */

.menu__link:hover,
.scroll-prompt:hover {
	color: var(--color-red);
	transition: all 0.5s ease-out;
}

.scroll-prompt__icon:hover {
	fill: currentColor;
	transition: all 0.5s ease-out;
}

.price__card:hover,
.footer__field:hover,
.modal-window__form-field:hover {
	border-color: var(--color-red);
	transition: all 0.5s ease-out;
}

.price__btn:hover,
.footer__btn:hover,
.modal-window__form-btn:hover {
	background-color: var(--color-red);
	color: var(--color-dark);
	border-color: var(--color-red);
	transition: all 0.5s ease-out;
}

/* Placeholder styles */
footer__field[type="text"],
footer__field[type="tel"],
.modal-window__form-field[type="text"],
.modal-window__form-field[type="tel"] {
	&::placeholder {
		font-family: var(--font-family-title);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		text-transform: uppercase;
	}

	&::-moz-placeholder {
		font-family: var(--font-family-title);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		text-transform: uppercase;
	}
}

.footer__field[type="text"]::placeholder,
.footer__field[type="text"]::-moz-placeholder {
	color: var(--color-gray);
}

.footer__field[type="tel"]::placeholder,
.footer__field[type="tel"]::-moz-placeholder {
	color: var(--color-dark);
}

.modal-window__form-field[type="text"]::placeholder,
.modal-window__form-field[type="text"]::-moz-placeholder {
	color: var(--color-gray);
}

.modal-window__form-field[type="tel"]::placeholder,
.modal-window__form-field[type="tel"]::-moz-placeholder {
	color: var(--color-dark);
}