.container {
  max-width: 1440px;
  padding: 3.75rem 1.25rem;
  margin: 0 auto;
  display: flex;
  overflow: hidden;

  @media (max-width: 768px) {
    max-width: 768px;
  }

  @media (max-width: 380px) {
    max-width: 380px;
  }
}