.about__columns {
  display: flex;
  gap: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 40px;
  }
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  max-width: 440px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about__title {
  font-family: var(--font-family-title);
  font-size: 2rem;
  line-height: 125%;
  text-transform: uppercase;
  font-weight: 400;
}

.about__text {
  font-family: var(--font-family-content);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

.about__image {
  width: 100%;
  height: 440px;
  object-fit: cover;

  @media (max-width: 768px) {
    height: 728px;
    align-self: stretch;
    aspect-ratio: 1 / 1;
  }

  @media (max-width: 480px) {
    height: 340px;
  }
}