.portfolio {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.portfolio__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 360px;
}

.portfolio__title {
  font-family: var(--font-family-title);
  font-weight: 400;
  font-size: 2rem;
  line-height: 125%;
  text-transform: uppercase;
}

.portfolio__description {
  font-family: var(--font-family-content);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}