/* Normalize */
*,
*::before,
*::after {
    box-sizing: border-box;
}


img,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6,
*+p {
    margin-top: 0;
}

/* Fonts */
@font-face {
    font-family: 'Mulish';
    src: url(/assets/fonts/Mulish-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-Italic';
    src: url(/assets/fonts/Mulish-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url(/assets/fonts/Oswald-VariableFont_wght.ttf) format(truetype);
    font-weight: 200 500;
    font-style: normal;
    font-display: swap;
}

/* Variables */
:root {
    /* color */
    --color-white: #fff;
    --color-dark: #222;
    --color-red: #ff3c3c;
    --color-gray: #989898;
    
    /* typograhy */
    --font-family-content: 'Mulish', sans-serif;
    --font-family-title: 'Oswald', sans-serif;
}

/* Global-style */
html{
    scroll-behavior: smooth;
}
body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 0 auto;
    font-family: var(--font-family-content), 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #fff;

}


/* Layout */
.container {
    max-width: 1440px;
    padding: 3.75rem 1.25rem;
    margin: o auto;
}

/* Section */

/* header */
.header {
    padding: 0 1.25rem;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.container-2 {
    max-width: 1440px;
    padding: 0 1.25rem;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu {
    
    font-family: var(--font-family-title);
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
    text-transform: uppercase;


}

.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding:20px;

}
/* hero */
.hero{
    background-color: var(--color-dark);
    color: var(--color-white);
    display:flex;
    position:relative;

}

.hero__side-label {
    font-family: var(--font-family-content);
    font-weight: 500;
    font-size: .75rem;
    line-height: 133%;
    display: flex;
    align-items: center;
    gap: .75rem;     
}

.hero__content {
    display: flex;
    gap: 2.5rem;
}

.hero__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
    padding-top: 100px;
}

.stats__prefix {
    font-family: var(--font-family-title);
    font-size:3rem;
    font-weight: 300;
    line-height: 112%;
    text-transform: uppercase;
}

.stats__value {
    font-family: var(--font-family-title);
    font-size:3rem;
    font-weight: 300;
    line-height: 112%;
    text-transform: uppercase;
}

.stats__text {
    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.hero__title {
    font-family: var(--font-family-title);
    font-weight: 300;
    font-size: 7.25rem;
    line-height: 114%;
    text-transform: uppercase;
}

.hero__motto {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 140%;
    text-transform: uppercase;
}

.scroll-prompt__text {
    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.hero__greeting {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.hero__media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    flex-shrink: 0;
}

.hero__photo-wrap--centered .hero__photo {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.hero__photo-wrap--top .hero__photo {
    width: 280px;
    height: 374px;
    object-fit: cover;
}

.hero__greeting-text {

    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: right;
    width: 220px;
}
/* about */
.about__image {
    width: 440px;
    height: 440px;
    object-fit: cover;
}

/* portfolio */
/* price */
/* faq */
/* footer */
