/* Normalize */
*,
*::before,
*::after {
    box-sizing: border-box;
}


img,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6,
*+p {
    margin-top: 0;
}

/* Fonts */
@font-face {
    font-family: 'Mulish';
    src: url(/assets/fonts/Mulish-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-Italic';
    src: url(/assets/fonts/Mulish-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url(/assets/fonts/Oswald-VariableFont_wght.ttf) format(truetype);
    font-weight: 200 500;
    font-style: normal;
    font-display: swap;
}

/* Variables */
:root {
    /* color */
    --color-white: #fff;
    --color-dark: #222;
    --color-red: #ff3c3c;
    --color-gray: #989898;
    
    /* typograhy */
    --font-family-content: 'Mulish', sans-serif;
    --font-family-title: 'Oswald', sans-serif;
}

/* Global-style */
html{
    scroll-behavior: smooth;
}
body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 0 auto;
    font-family: var(--font-family-content), 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #fff;

}


/* Layout */
.container {
    max-width: 1440px;
    padding: 3.75rem 1.25rem;
    margin: 0 auto;
    display: flex;
}

/* Section */

/* header */
.header {
    background-color: var(--color-dark);
    color: var(--color-white);
}

.header__container {
    max-width: 1440px;
    padding: 0 1.25rem;
    margin: 0 auto;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu {
    
    font-family: var(--font-family-title);
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
    text-transform: uppercase;


}

.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding:20px;

}

/* hero */
.hero{
    background-color: var(--color-dark);
    color: var(--color-white);
    display:flex;
}

.hero__inner {
    display: flex;
    gap: 40px;
}

.achievement-label {
    font-family: var(--font-family-content);
    font-weight: 500;
    font-size: .75rem;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 742px;
    gap: .75rem;
    background-color: #ff3c3c;     
}

.achievement-label__year {
    writing-mode: vertical-rl;
    transform: rotate(180deg)
}

.achievement-label__divider {
    width: 1px;
    height: 72%;
    background-color: var(--color-white);
}

.achievement-label__award {
   writing-mode: vertical-rl;
   transform: rotate(180deg)
}

.hero__content {
    display: flex;
    gap: 2.5rem;
}

.hero__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
    padding-top: 100px;
}

.stats__prefix {
    font-family: var(--font-family-title);
    font-size:3rem;
    font-weight: 300;
    line-height: 112%;
    text-transform: uppercase;
}

.stats__value {
    font-family: var(--font-family-title);
    font-size:3rem;
    font-weight: 300;
    line-height: 112%;
    text-transform: uppercase;
}

.stats__text {
    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.hero__title {
    font-family: var(--font-family-title);
    font-weight: 300;
    font-size: 7.25rem;
    line-height: 114%;
    text-transform: uppercase;
}

.hero__motto {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 140%;
    text-transform: uppercase;
}

.scroll-prompt__text {
    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.hero__greeting {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    flex-shrink: 0;

}

.hero__media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    flex-shrink: 0;
}

.hero__photo-wrap--centered .hero__photo {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.hero__photo-wrap--top .hero__photo {
    width: 280px;
    height: 374px;
    object-fit: cover;
}

.hero__greeting-text {

    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: right;
    width: 220px;
}

/* about */
.about__columns {
    display: flex;
    gap: 40px;
}

.about__column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    max-width: 440px;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about__title {
    font-family: var(--font-family-title);
    font-size: 2rem;
    line-height: 125%;
    text-transform: uppercase;
    font-weight: 400;
}

.about__text {
    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.about__image {
    width: 440px;
    height: 440px;
    object-fit: cover;
}

/* portfolio */
.portfolio {
    background-color: var(--color-dark);
    color: var(--color-white);
}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 360px;
}

.portfolio__title{
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 2rem;
    line-height: 125%;
    text-transform: uppercase;
}
.portfolio__description{
    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}
/* price */
.price__inner{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.price__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.price__title {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    text-transform: uppercase;
}
.price__description {
    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.price

.price__cards {
    display: flex;
    gap: 40px;
}

.price__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--color-dark);
    padding: 24px;
    min-height: 500px;
}

.price__card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}
.price__card-title {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 140%;
    text-transform: uppercase;
}
.price__card-features {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: var(--font-family-content);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}
.price__card-feature {
    display: flex;
    gap: 6px;
    align-items: center;

}

.price__card-feature::before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--color-dark);
}
.price__card-price {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-transform: uppercase;
}
.price__card-footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.price__card-note {
    font-family: var(--font-family-content);
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 125%;
}
.price__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 60px;
    background-color: var(--color-dark);
}

.price__link {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
}
/* faq */
/* footer */
