*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6,
*+p {
  margin-top: 0;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
}